USE [master]
GO
/****** Object:  Database [WHS_SGCC v1.0]    Script Date: 2020-06-16 11:25:51 ******/
CREATE DATABASE [WHS_SGCC v1.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WHS_SGCC v1.0', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WHS_SGCC v1.0.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WHS_SGCC v1.0_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WHS_SGCC v1.0_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WHS_SGCC v1.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WHS_SGCC v1.0]
GO
/****** Object:  Table [dbo].[IMPORTS]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMPORTS](
	[INSID] [int] IDENTITY(2025001,1) NOT NULL,
	[PROJECTID] [int] NULL,
	[INSDATE] [date] NULL,
	[TOTALPRICE] [numeric](18, 2) NOT NULL,
	[BATCH] [int] NULL,
	[RECEIVER] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[INSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMPORTSLIST]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMPORTSLIST](
	[INSLISTID] [int] IDENTITY(2026001,1) NOT NULL,
	[INSID] [int] NOT NULL,
	[MTAID] [int] NOT NULL,
	[UNIT] [varchar](20) NOT NULL,
	[NUM] [numeric](18, 2) NOT NULL,
	[PRICE] [numeric](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INSLISTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kINDS]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kINDS](
	[KINDID] [int] IDENTITY(2020001,1) NOT NULL,
	[KINDNAME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KINDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MTA]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTA](
	[MTAID] [int] IDENTITY(2021001,1) NOT NULL,
	[MTANAME] [varchar](20) NOT NULL,
	[KINDID] [int] NULL,
	[MTAMODEL] [varchar](20) NULL,
	[MTAINVE] [numeric](18, 2) NOT NULL,
	[MTAUNIT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MTAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OUT]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OUT](
	[OUTID] [int] IDENTITY(2023001,1) NOT NULL,
	[PROJECTID] [int] NULL,
	[OUTDATE] [date] NOT NULL,
	[STARTER] [varchar](20) NULL,
	[PICKER] [varchar](20) NULL,
	[OUTPRICE] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[OUTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OUTLIST]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OUTLIST](
	[OUTLISTID] [int] IDENTITY(2024001,1) NOT NULL,
	[OUTID] [int] NULL,
	[MTAID] [int] NULL,
	[OUTNUM] [numeric](18, 2) NOT NULL,
	[UNIT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OUTLISTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJECTID] [int] IDENTITY(2022001,1) NOT NULL,
	[PROJECTNAME] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2020-06-16 11:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USERID] [int] NOT NULL,
	[USERPASS] [varchar](20) NOT NULL,
	[USERNAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[IMPORTS]  WITH CHECK ADD FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECT] ([PROJECTID])
GO
ALTER TABLE [dbo].[IMPORTSLIST]  WITH CHECK ADD FOREIGN KEY([INSID])
REFERENCES [dbo].[IMPORTS] ([INSID])
GO
ALTER TABLE [dbo].[IMPORTSLIST]  WITH CHECK ADD FOREIGN KEY([MTAID])
REFERENCES [dbo].[MTA] ([MTAID])
GO
ALTER TABLE [dbo].[MTA]  WITH CHECK ADD FOREIGN KEY([KINDID])
REFERENCES [dbo].[kINDS] ([KINDID])
GO
ALTER TABLE [dbo].[OUT]  WITH CHECK ADD FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECT] ([PROJECTID])
GO
ALTER TABLE [dbo].[OUTLIST]  WITH CHECK ADD FOREIGN KEY([MTAID])
REFERENCES [dbo].[MTA] ([MTAID])
GO
ALTER TABLE [dbo].[OUTLIST]  WITH CHECK ADD FOREIGN KEY([OUTID])
REFERENCES [dbo].[OUT] ([OUTID])
GO
USE [master]
GO
